---
import Layout from '../layouts/Layout.astro';
import ArticleCard from '@components/ArticleCard.vue';
import type { Frontmatter } from '@components/mdx.types';

const articles = await Astro.glob<Frontmatter>('./articles/*.mdx');
---

<Layout title="FOSBlog - Free open-source blog">
	<main class="pb-5">
		{articles.reverse().map((article, articleIdx) => <ArticleCard url={article.url} frontmatter={article.frontmatter} showThumbnail={articleIdx === 0} client:only="vue" />)}
	</main>
</Layout>